attrs==20.3.0
aws-cdk.assets==1.109.0
aws-cdk.aws-cloud9==1.109.0
aws-cdk.aws-cloudwatch==1.109.0
aws-cdk.aws-codecommit==1.109.0
aws-cdk.aws-ec2==1.109.0
aws-cdk.aws-events==1.109.0
aws-cdk.aws-iam==1.109.0
aws-cdk.aws-kms==1.109.0
aws-cdk.aws-logs==1.109.0
aws-cdk.aws-s3==1.109.0
aws-cdk.aws-s3-assets==1.109.0
aws-cdk.aws-ssm==1.109.0
aws-cdk.cloud-assembly-schema==1.109.0
aws-cdk.core==1.109.0
aws-cdk.cx-api==1.109.0
aws-cdk.region-info==1.109.0
cattrs==1.0.0
constructs==3.3.86
importlib-resources==5.1.4
jsii==1.30.0
packaging==20.9
pip-review==1.1.0
publication==0.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.16.0
typing-extensions==3.10.0.0
zipp==3.4.1
